<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Страница администратора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
<nav class="navbar navbar-dark bg-dark">
    <div  class="text-light">
        <span th:text="${user.username}" class="font-weight-bold my-1 h5"></span>
        <span> with roles: </span>
        <span th:text="${user.getCleanRoles()}" class="my-1"></span>
    </div>
    <div class="font-weight-bold">
        <a class="text-secondary nav-link my-2 my-sm-0" th:href="@{/logout}">Выйти</a>
    </div>
</nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-sm-2 min-vh-100 p-0">
            <div class="list-group mt-3" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-admin-list" data-toggle="list" href="#list-admin" role="tab" aria-controls="admin">Admin</a>
                <a class="list-group-item list-group-item-action" data-toggle="html" href="/user" role="tab">User</a>
            </div>
        </div>

        <div class="col col-sm-10 bg-light">
            <h1 class="mt-3">Панель администратора</h1>
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user-list" role="tab" aria-controls="user-list" aria-selected="true">Список пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="add-tab" data-toggle="tab" href="#addUser" role="tab" aria-controls="add" aria-selected="false">Новый пользователь</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="user-list" role="tabpanel" aria-labelledby="user-list-tab">
                            <div th:action="@{/admin}">
                                <div class="border rounded-top pt-2 pb-1">
                                    <h5 class="ml-3">Список пользователей</h5>
                                </div>

                                <div class="bg-white p-3 border rounded-bottom">
                                    <table class="table table-striped table-responsive-lg p-3" id="table-info">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Логин</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Email</th>
                                            <th>Пароль</th>
                                            <th>Роль</th>
                                            <th >Удалить</th>
                                            <th >Изменить</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="lst : ${list}">
                                            <td th:text="${lst.id}"></td>
                                            <td th:text="${lst.username}"></td>
                                            <td th:text="${lst.firstName}"></td>
                                            <td th:text="${lst.lastName}"></td>
                                            <td th:text="${lst.email}"></td>
                                            <td th:text="${lst.password}"></td>
                                            <td th:text="${lst.getCleanRoles()}" ></td>
                                            <td th:border="0">
                                                <form action="/admin/delete" method="post">
                                                    <input type="hidden" name="del" th:value="${lst.id}">
                                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                                </form>
                                            </td>
                                            <td th:border="0">
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit" data-type="edit">Изменить</button>
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form th:action="@{/admin/edit}" th:object="${userAdd}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editTitle">Изменение данных пользователя</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group text-center">
                                                            <label for="edit-id" class="font-weight-bold h5">ID</label>
                                                            <input type="text" class="form-control" id="edit-id" aria-describedby="id" th:field="*{id}" readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-login" class="font-weight-bold h5">Логин</label>
                                                            <input type="text" class="form-control" id="edit-login" aria-describedby="login" th:field="*{username}">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-first_name" class="font-weight-bold mx-auto h5">Имя</label>
                                                            <input type="text" class="form-control" id="edit-first_name" aria-describedby="first_name" th:field="*{firstName}">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-last_name" class="font-weight-bold mx-auto h5">Фамилия</label>
                                                            <input type="text" class="form-control" id="edit-last_name" aria-describedby="last_name" th:field="*{lastName}">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-email" class="font-weight-bold mx-auto h5">Email</label>
                                                            <input type="email" class="form-control" id="edit-email" aria-describedby="email" th:field="*{email}">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-password" class="font-weight-bold mx-auto h5">Пароль</label>
                                                            <input type="password" class="form-control input-hide" id="edit-password" aria-describedby="password" th:field="*{password}">
                                                            <input type="hidden" id="edit-password-hidden">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="edit-role" class="font-weight-bold mx-auto h5">Роль</label>
                                                            <select size="2" multiple class="form-control" id="edit-role" th:field="*{roles}">
                                                                <option th:each="lst1 : ${listRole}" th:value="${lst1.id}" th:text="${lst1.name}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                        <button type="submit" class="btn btn-primary" id="edit-save">Сохранить</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="add-tab">
                            <div class="border rounded-top pt-2 pb-1">
                                <h5 class="ml-3">Добавление пользователя</h5>
                            </div>
                            <div class="bg-white border rounded-bottom">
                                <div class="w-25 mx-auto py-3">
                                <form th:action="@{/admin/addUser}" th:object="${userAdd}" method="post">
                                    <div class="form-group text-center">
                                        <label for="login" class="font-weight-bold h5">Логин</label>
                                        <input type="text" class="form-control" id="login" aria-describedby="login" placeholder="Логин" th:field="*{username}">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="first_name" class="font-weight-bold mx-auto h5">Имя</label>
                                        <input type="text" class="form-control" id="first_name" aria-describedby="first_name" placeholder="Имя" th:field="*{firstName}">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="last_name" class="font-weight-bold mx-auto h5">Фамилия</label>
                                        <input type="text" class="form-control" id="last_name" aria-describedby="last_name" placeholder="Фамилия" th:field="*{lastName}">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="email" class="font-weight-bold mx-auto h5">Email</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email" th:field="*{email}">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="password" class="font-weight-bold mx-auto h5">Пароль</label>
                                        <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Пароль" th:field="*{password}">
                                        <th:block th:if="${#fields.hasErrors('password')}">
                                            <div style="color : red" th:errors="*{password}">invalid</div>
                                        </th:block>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="role" class="font-weight-bold mx-auto h5">Роль</label>
                                        <select size="2" multiple class="form-control" id="role" th:field="*{roles}">
                                            <option th:each="lst : ${listRole}" th:value="${lst.id}" th:text="${lst.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="submit" value="Сохранить" class="btn btn-success btn-lg">
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const table = document.getElementById('table-info');
    const btn = document.getElementById('edit-save');
    table.addEventListener('click', (e) => {
        if (e.target.tagName !== 'BUTTON') return;
        const tr = e.target.closest('tr');
        if (e.target.dataset.type === 'edit') editRow(tr);
        btn.addEventListener('click', () => {
            if($('#edit-password').value == null) editPass(tr);
        })
    });

    function editRow(tr) {
        $("#edit-id").attr("value", tr.cells[0].innerText);
        $("#edit-login").attr("value", tr.cells[1].innerText);
        $("#edit-first_name").attr("value", tr.cells[2].innerText);
        $("#edit-last_name").attr("value", tr.cells[3].innerText);
        $("#edit-email").attr("value", tr.cells[4].innerText);

    }
    function editPass(tr) {
        $("#edit-password").attr("value", tr.cells[5].innerText);
        }

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>